*{
    margin: 0;
    padding: 0;
}
body{
    background-color:antiquewhite;
    font-family:'Times New Roman', Times, serif;
}
.container{
    max-width: 1000px;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 20px;
    
}
img{
    height: 100px;
    width: auto;
    border:5px solid white;
    border-radius: 50px;
    float: left;
}
.header-bio{
    float: left;
    padding: 20px;
}
.header-contact{
    float: right;
}
.header-contact a{
    text-decoration: none;
}
.header-contact a:hover{
    text-decoration: underline;
}
.clear{
    clear: both;
}
hr{
    border:solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
.header-contact a:visited{
    color:red;
}
#personal-section{

}
.personal-section{

}
#content{

}
.left-div{

float: left;
}
.right-div{
float: right;
}
.common-hr{
    border:solid black 1px;
    border-bottom: none;
    margin: 20px auto;
}
footer{
    background-color: black;
    text-align:center;
    color: white;
    padding: 20px;
    
}